{% extends 'a_eco/base.html' %}

{% block content_1 %}
    <div class="title-aboutus">что мы разрабатываем?</div>

    <div class="about-us">
        <pre class="text-aboutus">
Собственное производство натуральных моющих средств и уходовой косметики из растительного сырья и минералов.

Средства «Природа Дома» заботятся о здоровье семьи и берегут окружающий мир.

Экономичные и эффективные, безопасные для людей и естественны для природы, средствами можно уверенно пользоваться:
— детям;
— людям с чувствительной кожей, склонным к аллергическим реакциям; 
— всем, кому не безразлично здоровье своей семьи и чистота окружающего мира. 

Средства «Природа Дома» подходят для:
— ежедневной стирки и мытья детских вещей и посуды;
— мытья рук, фруктов, овощей и зелени;
— частных домов, так как средства безвредны и дружественны для септиков, могут применяться в домах с локальной канализацией.

В средствах отсутствуют нефтепродукты, агрессивные ПАВ, сульфаты, фосфаты, хлор, синтетические отдушки, SLS/SLES, PEG, консерванты и другие опасные вещества и аллергены.

НАТУРАЛЬНЫЙ СОСТАВ И СОВРЕМЕННЫЕ ТЕХНОЛОГИИ

Состав средств «Природа Дома» по-настоящему естественный: вытяжки лекарственных трав, растительные масла, органическое соединение пищевой и кальцинированной соды, горчица, пищевая соль, диатомит и другие природные вещества.

Средства для ухода за домом «Природа Дома» биоразлагаемы, безопасны и безвредны для человека, создаются из растительных и минеральных веществ, но не съедобны.

Высокая моющая способность природных средств «Природа Дома» достигается благодаря применению в производстве уникальной технологии — электрокавитации.

ПРОДУКЦИЯ

В продаже:
— Натуральное жидкое мыло «Природа Дома — Сладкий апельсин». Бутыль 0,5 л с дозатором и 1 л без дозатора.
— Эко-порошок для стирки детских вещей (0+), 1 кг, крафт-пакет
— Сакура — экологичный стиральный порошок для повседневной стирки белых и цветных вещей, 1,5 кг, коробка
— Самурай — экстра-концентрат стирального порошка для удаления сложных загрязнений с любых видов ткани, 1,5 кг, коробка
— Био-порошок для посудомоечных машин, 0,6 кг, ведро

— Гель для мытья посуды, который с первого раза смывается с посуды;
— Универсальная чистящая паста, которой вы сможете чистить сантехнику и посуду, не задерживая при этом дыхание;
— Многофункциональное моющее средство из натурального мыла и троны.
        </pre>
    </div>

{% endblock %}