{% extends 'a_eco/base.html' %}

{% block content_1 %}
    <div class="title-contact">Контакты</div>

    <div class="block-contacts">
        <pre class="text-contacts">
Наша почта для поддержания обратной связи: xtosbuctut@gmail.com
Менеджер нашего сайта: <a href="https://t.me/CBllCTyH" style="text-decoration: none" target="_blank">https://t.me/CBllCTyH</a>
Наш телеграмм бот: <a href="https://t.me/slice_by_bot" style="text-decoration: none" target="_blank">https://t.me/slice_by_bot</a>
        </pre>
    </div>
{% endblock %}